# Environment variables

# DOCKER
IMAGE_NAME=qwen3-embedding-service
TAG=0.2.0

# Service
SERVICE_ADDRESS="0.0.0.0"
SERVICE_PORT=8000

# ML
## EMBEDDING
TEXT_ONLY_MODEL_NAME="Qwen/Qwen3-Embedding-0.6B"
USE_VL=True
VL_MODEL_NAME="Qwen/Qwen3-VL-Embedding-2B"
MAX_SEQ_LENGTH=8192

#Reranker
RERANKER_MODEL_NAME="Qwen/Qwen3-VL-Reranker-2B"

# Routes
EMBEDDING_PREFIX="/embedding"
EMBED_ENDPOINT="/embed"

UPLOAD_PREFIX="/upload"
UPLOAD_ENDPOINT="/upload-image"

# Directories
UPLOAD_DIR="uploads/"
REQUEST_DIR="requests/"
RESPONSE_DIR="responses/"
