# Environment variables

# Service
SERVICE_ADDRESS="0.0.0.0"
SERVICE_PORT=8000

# ML
TEXT_ONLY_MODEL_NAME="Qwen/Qwen3-Embedding-0.6B"
VL_MODEL_NAME="Qwen/Qwen3-VL-Embedding-2B"
MAX_SEQ_LENGTH=8192
USE_VL=True

# Routes
EMBEDDING_PREFIX="/embedding"
EMBED_ENDPOINT="/embed"

UPLOAD_PREFIX="/upload"
UPLOAD_ENDPOINT="/upload-image"

# Directories
UPLOAD_DIR="uploads/"
REQUEST_DIR="requests/"
RESPONSE_DIR="responses/"

# JSON
ENCODING="utf-8"
